---
import Layout from "@layouts/Layout.astro"
---

<Layout
  title="$ rabbitsay"
  description="Say (possibly mean) things with a cute rabbit."
>
  <pre>
 ┌─────────────┐
 │  rabbitsay  │
 └─────────────┘
(\__/) ||
(•ㅅ•) ||
/ 　 づ 
  </pre>
  <p>RabbitSay - say (possibly mean) things with a cute rabbit.</p>
  <p>$ cargo install rabbitsay</p>
</Layout>
