@import "tailwindcss";

@font-face {
    font-family: "TX-02";
    src: url("/fonts/TX-02-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TX-02";
    src: url("/fonts/TX-02-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-mono: "TX-02", "monospace";
}

pre {
    line-height: 1;
}
