---
---

<footer>
  <ul>
    <li>
      <a target="_blank" href="https://crates.io/crates/rabbitsay"
        >rabbitsay on crates.io</a
      >
    </li>
    <li>
      <a target="_blank" href="https://github.com/Cbeck527/rabbitsay"
        >source on github</a
      >
    </li>
  </ul>
</footer>

<style>
  a {
    color: blue;
  }
  footer {
    padding-top: 1rem;
  }
</style>
